*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/card.io-5.4.0/build/
/idm-imgproc-7.1.4.1/build/
/libjinglewrapper/build/
/OpenCV_4.1.1/build/